CompileFlags:
  Add: 
    - -xc++
    - -Wall
    - -Wextra
    - -Wpedantic
    - --include-directory=./../Common/ # for common CAN header file
    - --include-directory=./include/
  CompilationDatabase: ./build-rpi/hardware/

