SupervisoryController/build
SupervisoryController/ARCHITECTURE.md
SupervisoryController/README.md
SupervisoryController/modern_engineering_cpp_style_guide.md
SupervisoryController/src/sim
SupervisoryController/tests

*.yaml
*.vcxproj
*.vcxproj.filters
*.slnx
*.exe
*.pdb
*.obj
*.tlog
*.ilk
*.exe.recipe
*.bin
*.rule
