SupervisoryController/build
SupervisoryController/ARCHITECTURE.md
SupervisoryController/README.md
SupervisoryController/modern_engineering_cpp_style_guide.md
SupervisoryController/src/sim
SupervisoryController/src/tests
SupervisoryController/build-rpi/
SupervisoryController/out/
SupervisoryController/.vs/
FloorController/build/
SupervisoryController/.idea/

**/__pycache__/**

latex
html

*.yaml
*.vcxproj
*.vcxproj.filters
*.slnx
*.exe
*.pdb
*.obj
*.tlog
*.ilk
*.exe.recipe
*.bin
*.rule
*.log

*.simbuild.json
